{% extends "layout.html" %}
{% block title %} Enter {% endblock %}
{% block main %}
    <form action="/enter_grade" method="post" >
        <legend><h1>Enter Grade</h1></legend>
        <div id="form">
            <label id="label" class="form-label">Enter Subject</label>
            <select class="form-select" name="subject" aria-label="Enter Subject">
                <option selected disabled >Select Subject to Enter</option>
                {% for row in subjects %}
                <option value="{{row.subject_id}}">{{row.subject_name}}</option>
                {% endfor %}
            </select>
        </div><br>
        
        <div >
            <label id="label" class="form-label">Enter Grade</label><br>
            <input type="range" min="0" value="5" max ="15" name="points" steps="1" oninput="num.value = this.value" ><br>
            <output id="num">5</output>
        </div><br>
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
    </form>


{% endblock %}